{% extends "package/base_form_page.html" %}
{% import 'macros/form.html' as form %}

{% block subtitle %}{{ _('Suspend') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
  <h1>{% block page_heading %}{{ _('Suspend {dataset}').format(dataset=h.dataset_display_name(c.pkg)) }}{% endblock %}</h1>
  
	<form class="dataset-form form-horizontal" method="post">
		
		{{ form.textarea('suspend_reason', id='field-suspend_reason', label=_('Reason to suspend dataset'), placeholder=_(''), value=data.suspend_reason, error=errors.suspend_reason) }}

		<div class="form-actions">
    		<input type="submit" class="btn btn-primary" value="{{ _('Suspend') }}" />
    	</div>
    </form>

{% endblock %}